<%= render 'layouts/banner' %>
<div class="container">
    <% @cocktails.each do |cocktail| %>
    <div class="row cocktail-row">
    <div class="col-xs-12 col-sm-6 col-md-6 cocktail-info">
      <% if cocktail.photo? %>
      <%= cl_image_tag cocktail.photo.path, height: 600, crop: :fit, class: "cocktail-img" %>
      <% else %>
      <%= image_tag "Save-placeholder", class: "cocktail-img" %>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <p> <%= link_to cocktail.name , cocktail_path(cocktail) %> </p>
    </div>
  </div>
  <% end %>
</div>

<div class="text-center">
  <%= link_to "Create new cocktail", new_cocktail_path, class: "btn-medium" %>
</div>

