<div class="content">
  <h1 class= "text-center">Create your own cocktail </h1>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-container">
          <%= simple_form_for [@cocktail] do |f| %>
          <p><%= f.input :name %></p>
          <p><%= f.input :photo, as: :attachinary %></p>
          <% if @cocktail.photo? %>
          <%= cl_image_tag @cocktail.photo.path, width: 100, height: 200, crop: :fill %>
          <% end %>
          <%= f.submit "Add my cocktail", class: "btn-medium" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

