<div class="content">
  <br>
  <div><%= link_to "Back to drinks", cocktails_path, class: "btn-medium" %></div>
  <br>
  <h1> <%= @cocktail.name %> </h1>
  <p> <% @cocktail.doses.each do |dose|%> </p>
  <%= dose.description %>
  <%= dose.ingredient.name %>
  <% end %>

  <div><%= link_to "Add ingredients", new_cocktail_dose_path(@cocktail), class: "btn-medium" %></div>
  <br>
  <br>
</div>
